# Scraping
requests
beautifulsoup4
lxml
pydantic
feedparser

# Database
psycopg2-binary
pgvector
sqlalchemy

# ML
sentence-transformers
bertopic
hdbscan
transformers
torch
spacy
anthropic

# MLOps
prefect>=3.0.0
mlflow

# API
fastapi
uvicorn

# Utils
python-dotenv
pandas
numpy
plotly
tiktoken
sentencepiece
protobuf